
@import '../../common-styles/common.scss';

.content-top-header {
  padding: 8px 8px 3px 8px;

  .content-title {
    padding: 0px;
    font-size: 25px;
    margin: 0px;
  }

  button {
    float: right;
    padding: 2px 5px 2px 5px;
    margin-top:0px;
    background-color: #ffb3b3;
    color: #00264d;
    border: 1px solid grey;

    &:hover {

      @include button-hover();
    }

    i {
      margin-right: 2px;
    }
  }
}
//add image form
form {
  width: 50%;
  margin: auto;
  margin: 7% auto 0px auto;
  font-size: 20px;
  font-family: Calibri;

  .form-control-btn {
    padding: 0px;

    .save-btn {
      background-color: #ffb3b3;
      color: black;
      border: 1px solid grey;
      padding: 5px;

      &:hover {

        @include button-hover();
      }

      i {
        margin-right: 4px;
      }

      &[disabled] {
        box-shadow: none;
        cursor: no-drop;
        border: 1px solid #808080;
      }
    }

    .cancel-btn {
      color: black;
      border: 1px solid grey;
      padding: 5px;
      margin-left:10px;
      &:hover {
        background-color:gray !important;
        @include button-hover();
      }

      i {
        margin-right: 2px;
      }
    }
  }
}


.error-alert{
  color:red;
  font-size:15px;
}

//styles for the form and content header if screen size is max 768px
@media only screen and (max-width:768px) {
  .bottom-panel-top-header {
    /*back button of bottom top header*/
    button {
      font-size: 13px;
    }
  }

  form {
    font-size: 15px;

    .form-control-btn {
      .save-btn {
        font-size: 15px;
      }

      .cancel-btn {
        font-size: 15px;
      }
    }
  }
 }

//style for the form if screen size is max 425px
@media only screen and (max-width:425px) {

  .content-top-header {
    .content-title {
      font-size: 20px;
    }
    /*add image button of bottom top header*/
    button {
      font-size: 15px;
      margin-top: 0px;
    }
  }

  form {
    font-size: 17px;
    width: 80%;
  
    .form-control-btn {
      padding:0px;
    }
  }
}
