@import '../common-styles/common.scss';

/*top navbar heading of bottom right content
---other styles imported from common.scss*/
.content-top-header {
  padding: 8px 8px 3px 8px;

  .content-title {
    padding: 0px;
    font-size: 25px;
    margin: 0px;
  }

  button {
    float: right;
    padding: 2px 5px 2px 5px;
    margin-top: 0px;
    background-color: #ffb3b3;
    color: #00264d;
    border: 1px solid grey;

    &:hover {

      @include button-hover();
    }

    i {
      margin-right: 2px;
    }
  }
}

/*styles for image slider div*/
.img-slider {
  border: 1px solid grey;
  width: 40%;
  position: relative;
  left: 30%;
  min-height: 30%;
  background-color: #f0f5f5;

  .img {
    position: relative;
    width: 100%;
    border-bottom: 1px solid grey;
  }

  .img-description {
    cursor:pointer;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px 5px 10px;
    font-family: Calibri;
    text-overflow: ellipsis;
  }
  /*left slider button*/
  .img-slider-left-btn {
    position: absolute;
    top: 30%;
    left: 0%;
    background-color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid black;


    &:hover {
      @include slider-button-hover();
    }

    &[disabled] {
      background-color: #808080;
      cursor: no-drop;
      color: white;
      border: 1px solid #808080;
    }
  }
  /*right slider button*/
  .img-slider-right-btn {
    position: absolute;
    right: 0%;
    top: 30%;
    background-color: black;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid black;

    &:hover {

      @include slider-button-hover();
    }

    &[disabled] {
      background-color: #808080;
      cursor: no-drop;
      color: white;
      border: 1px solid #808080;
    }
  }
}

/*styles form the table containig images list*/
.img-list-table {
  position: relative;
  width: 50%;
  margin-top: 30px;
  left: 25%;
  min-height: 30%;
  right: 25%;

  table {
    //white-space: nowrap;
    background-color: #f0f5f5;
    font-family: Calibri;
    position: relative;
    width: 100%;
    font-size: 17px;

    tr, td {
      border-collapse: collapse;
      border: 1px solid grey;
      text-align: left;
      cursor: pointer;
      padding: 5px;

      .image-url-description-row {
        text-align: left;
      }

      th {
        text-align: center;
        border-collapse: collapse;
        border: 1px solid grey;
        padding: 0;
      }


      .edit-delete-icon-row {
        font-size: 25px;
        text-align: center;

        .fa-edit {
          margin-right: 15px;
        }
      }
    }
  }
}

/*address image button size command table size styles for max screen size 768px*/
@media only screen and (max-width:768px) {
  
  .img-list-table {
    width: 80%;
    left: 10%;
    right:10%;
  }
  
}

/*image slider,table containing image list styles for max screen size 425px*/
@media only screen and (max-width:425px)
{
  .content-top-header {
    .content-title {
      font-size: 20px;
    }
    /*add image button of bottom top header*/
    button {
      font-size: 15px;
      margin-top: 0px;
    }
  }


  .img-slider {
    width: 80%;
    left: 10%;
    
    .img-description {
      padding: 5px 10px 5px 10px;
      font-size: 14px;
    }

    .img-slider-left-btn {
      top: 40%;
      font-size: 20px;

      &:hover {
        font-size: 20px;
        @include slider-button-hover();
      }
    }

    .img-slider-right-btn {
      font-size: 20px;
      top: 40%;

      &:hover {
        font-size: 20px;
      }
    }
  }

  .img-list-table {
    width: 100%;
    left: 0%;
    right:0%;
    height:auto;
    table {
      tr, td {
        .edit-delete-icon-row {
          font-size: 25px;
         
          .fa-edit {
            margin-right: 0px;
          }
        }
      }
    }
  }
 
  }



